*{
	box-sizing:border-box;

}
body{
	color:white;
	background-color:black;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

canvas{
	border:1px solid white;    
}